name: Release Artifacts
on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.23.5'
      - run: go version
      - name: Install dependencies
        run: make install-dependencies
      - name: Lint source
        run: make lint
      - name: Run testing
        run: make test
      - name: Run build
        run: make build
      - name: Build all artifacts (amd64 and arm64)
        run: make build-all
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: allbctl_*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
